p{
	background-color:grey;
	border:1pxsolidblack;
	padding:12px;
	margin:50px;
	width:50%;
	height:50px;
	min-width:400px;
	text-align:justify;
}
.Prim1{
	background-color:#ff0000;
}
.hauteur{
	overflow:auto;
}
.largeur{
	word-wrap:break-word;
}
.PrimVar2{
	background-color:#5b0000;
}
.PrimVar1{
	background-color:#ffc4c4;
}
h1,h2,h3{
	background-color:grey;
}
